body {
     width: 100vw;
    height: 100vh; 
     background: url('https://c4.wallpaperflare.com/wallpaper/910/11/748/background-fruit-vegetables-cuts-hd-wallpaper-preview.jpg'); 
 background-position: center; 
 background-size:cover; 
}

